---
import InformationResume from '../components/InformationResume.astro';
import Presentacion from '../components/Presentacion.astro';
import Testimonial from '../components/Testimonial.astro';
import Experience from '../components/Experiencie.astro'; 
import Education from '../components/Education.astro';
import BongoCat from '../components/BongoCat.astro';
import Extra from '../components/Extra/Extra.astro';
import Project from '../components/Project.astro';
import AboutMe from '../components/AboutMe/AboutMe.astro';
import Navbar from '../components/Navbar.astro';
import Skills from '../components/Skills.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio Dev">
  <Navbar />
  <!-- La clase Main ABARCA TODO EL COLOR DEL FONDO! -->
  <main class="bg-gray-900 min-h-screen text-white">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-20 pb-5">
      
      <Presentacion />

      <!-- TODO Ponerlo cuando este completamente seguro que se llegue a ver bien -->
      <!-- <InformationResume /> -->

      <AboutMe />

      <!--Habilidades o conocimientos que poseo -->
      <Skills />
      
      <!-- TODO Descomentar cuando consiga mis primeros annos trabajando -->
      <!-- Experiencia Laboral -->
      <!-- <Experience /> -->
      
      <!-- Proyectos Personales-->
      <Project />

      <!-- TODO conseguir los testimonios correspondientes para ir poniendolos -->
      <!-- <Testimonial /> -->

      <Education />

      <!-- Extra -->
      <!-- <Extra /> -->

      <h3 class="text-3xl font-bold mb-6" id="programando">Gracias por visitar mi portafolio!</h3>

      <BongoCat />
      
    </div>
  </main>
  
  <Footer />
</Layout>