---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<div class={`group relative ${className}`}>
  <div
    class="absolute inset-0 rounded-lg bg-gradient-to-r from-blue-500 to-purple-600 opacity-75 transition duration-300 group-hover:opacity-100"
  >
  </div>
  <div class="absolute inset-[1px] bg-gray-800 rounded-lg"></div>
  <div class="relative bg-gray-90 rounded-lg p-6">
    <slot />
  </div>
</div>

<style>
  @keyframes borderAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .bg-gradient-to-r {
    background-size: 200% 200%;
    animation: borderAnimation 6s linear infinite;
  }
  .group:hover .bg-gradient-to-r {
    animation-duration: 3s;
  }
</style>
