---
// ProfileImage.astro
---

<div class="relative w-64 h-64 mx-auto overflow-hidden">
    <img 
      src="/img/avatar2.jpg" 
      alt="Foto de perfil de Daniel Banariba"
      class="relative z-10 w-full h-full object-cover rounded-full"
    />
  </div>
  
  <style>
    /* Puedes agregar estilos adicionales aquí si es necesario */
  </style>