---

---

<div class="card">
  <div class="tools">
    <div class="circle">
      <span class="red box"></span>
    </div>
    <div class="circle">
      <span class="yellow box"></span>
    </div>
    <div class="circle">
      <span class="green box"></span>
    </div>
  </div>
  <div class="card__content p-6">
    <p class="text-base">
      🎯 <strong>
        He desarrollado APIs escalables implementando arquitecturas serverless
        con NestJS y AWS,
      </strong> optimizando el rendimiento y reduciendo costos operativos. Además,
      <strong>
        he diseñado esquemas eficientes en DynamoDB y establecido procesos
        automatizados de QA
      </strong> que garantizan la confiabilidad y calidad del software en cada etapa
      del desarrollo.
      <br /><br />
      🏆 Combinando mi experiencia como desarrollador backend y QA tester, <strong
      >
        he logrado entregar soluciones que no solo cumplen con los criterios
        técnicos, sino que también superan las expectativas de calidad y
        experiencia de usuario.
      </strong> Mi enfoque pragmático y capacidad de adaptación me permiten transformar
      desafíos técnicos en soluciones efectivas que aportan valor real a cada proyecto.
    </p>
  </div>

  <style>
    /* Card Styles */
    .card {
      width: 100%;
      height: auto;
      margin: 0 auto;
      background-color: #011522;
      border-radius: 8px;
      z-index: 1;
      overflow: hidden;
    }

    .tools {
      display: flex;
      align-items: center;
      padding: 9px;
    }

    .circle {
      padding: 0 4px;
    }

    .box {
      display: inline-block;
      align-items: center;
      width: 10px;
      height: 10px;
      padding: 1px;
      border-radius: 50%;
    }

    .red {
      background-color: #ff605c;
    }

    .yellow {
      background-color: #ffbd44;
    }

    .green {
      background-color: #00ca4e;
    }

    .card__content {
      padding: 24px;
      color: #ffffff;
    }

    .card__content h2 {
      margin-bottom: 12px;
      color: #ffffff;
      font-size: 1.875rem;
    }

    .card__content p {
      font-size: 1rem;
      line-height: 1.6;
    }
  </style>
</div>
