---
---

<div class="card">
    <div class="tools">
      <div class="circle">
        <span class="red box"></span>
      </div>
      <div class="circle">
        <span class="yellow box"></span>
      </div>
      <div class="circle">
        <span class="green box"></span>
      </div>
    </div>
    <div class="card__content p-6">
      <h2 class="text-3xl font-bold mb-4">Sobre Mí</h2>
      <p class="text-base">
        👨‍💻 <strong>Ingeniero en Sistemas y Programador Entuiasta</strong> con amplia experiencia en el desarrollo de soluciones tecnológicas innovadoras. A lo largo de mi carrera, he abordado una variedad de <strong>desafíos tecnológicos.</strong> 
        <br><br>
        💡 <strong>Tarea:</strong> Mi principal objetivo ha sido diseñar y desarrollar aplicaciones de software que resuelvan problemas complejos.
        <br><br>
      </p>
    </div>      
  </div>
  
  <style>
  /* Card Styles */
  .card {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
  }
  
  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
  }
  
  .circle {
    padding: 0 4px;
  }
  
  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .green {
    background-color: #00ca4e;
  }
  
  .card__content {
    padding: 24px;
    color: #ffffff;
  }
  
  .card__content h2 {
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 1.875rem;
  }
  
  .card__content p {
    font-size: 1rem;
    line-height: 1.6;
  }
  </style>