---
---

<div class="card">
    <div class="tools">
      <div class="circle">
        <span class="red box"></span>
      </div>
      <div class="circle">
        <span class="yellow box"></span>
      </div>
      <div class="circle">
        <span class="green box"></span>
      </div>
    </div>
    <div class="card__content p-6">
      <p class="text-base">
        游꿢 <strong>Acciones:</strong> He utilizado tecnolog칤as como <strong>Java, Python y JavaScript</strong>, integr치ndolas con bases de datos como <strong>Oracle</strong> para crear aplicaciones robustas. Algunas de mis principales acciones incluyen:
        <ul class="list-disc pl-6">
          <li>Dise침o de arquitecturas escalables.</li>
          <li>Implementaci칩n de soluciones backend eficientes.</li>
          <li>Desarrollo de interfaces de usuario intuitivas.</li>
          <li>Optimizaci칩n del rendimiento de bases de datos.</li>
        </ul>
        <br>
        游끥 <strong>Resultados:</strong> Los proyectos en los que he participado han generado resultados significativos como:
        <ul class="list-disc pl-6">
          <li>Mejorar la productividad de los equipos en un <strong>25%</strong>.</li>
          <li>Reducci칩n de los costos operativos en un <strong>15%</strong>.</li>
          <li>M치s de <strong>1000 usuarios activos</strong> utilizando las soluciones desarrolladas.</li>
        </ul>
        <br>
        游 Con una mentalidad orientada a resultados y un <strong>compromiso inquebrantable con la excelencia</strong>, estoy siempre en la b칰squeda de nuevos retos para ofrecer soluciones <strong>tecnol칩gicamente avanzadas</strong> y <strong>superar los desaf칤os m치s complejos</strong>.
      </p>
    </div>      
  </div>
  
  <style>
  /* Card Styles */
  .card {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
  }
  
  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
  }
  
  .circle {
    padding: 0 4px;
  }
  
  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .green {
    background-color: #00ca4e;
  }
  
  .card__content {
    padding: 24px;
    color: #ffffff;
  }
  
  .card__content h2 {
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 1.875rem;
  }
  
  .card__content p {
    font-size: 1rem;
    line-height: 1.6;
  }
  </style>