---

---

<div class="card">
  <div class="tools">
    <div class="circle">
      <span class="red box"></span>
    </div>
    <div class="circle">
      <span class="yellow box"></span>
    </div>
    <div class="circle">
      <span class="green box"></span>
    </div>
  </div>
  <div class="card__content p-6">
    <p class="text-base">
      🎯 <strong
        >He desarrollado aplicaciones en entornos multifacéticos utilizando
        lenguajes como Java, Python y JavaScript</strong
      >, lo que me ha permitido abordar problemas reales de forma eficiente.
      Además, <strong
        >tengo experiencia gestionando bases de datos relacionales con Oracle,
        diseñando y ejecutando consultas complejas</strong
      > para asegurar la correcta gestión y optimización de datos.
      <br /><br />
      🏆 Gracias a mi compromiso con la excelencia y mi enfoque en resultados, <strong
        >he logrado entregar productos de alta calidad que cumplen con las
        expectativas tanto técnicas como creativas</strong
      >. Mi capacidad para adaptarme rápidamente a nuevas tecnologías y mi
      disposición a aprender me han permitido superar desafíos y estar preparado
      para aportar soluciones innovadoras en proyectos futuros.
    </p>
  </div>

  <style>
    /* Card Styles */
    .card {
      width: 100%;
      height: auto;
      margin: 0 auto;
      background-color: #011522;
      border-radius: 8px;
      z-index: 1;
      overflow: hidden;
    }

    .tools {
      display: flex;
      align-items: center;
      padding: 9px;
    }

    .circle {
      padding: 0 4px;
    }

    .box {
      display: inline-block;
      align-items: center;
      width: 10px;
      height: 10px;
      padding: 1px;
      border-radius: 50%;
    }

    .red {
      background-color: #ff605c;
    }

    .yellow {
      background-color: #ffbd44;
    }

    .green {
      background-color: #00ca4e;
    }

    .card__content {
      padding: 24px;
      color: #ffffff;
    }

    .card__content h2 {
      margin-bottom: 12px;
      color: #ffffff;
      font-size: 1.875rem;
    }

    .card__content p {
      font-size: 1rem;
      line-height: 1.6;
    }
  </style>
</div>
